* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.topnav{
    background-color: rgb(48, 48, 48);
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btns{
    width: 50%;
    justify-content: start;
}
.icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(94, 94, 94);
    text-align: center;
    padding: auto;
    text-decoration: none;
    color: rgb(214, 214, 214);
    font-size: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto 5px;
}

/* Social Icon CSS */
.fa {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: white;
  }
  
  .fa-twitter {
    color: white;
  }
  
  .fa-google {
    color: white;
  }
  
  .fa-linkedin {
    color: white;
  }
  
  .fa-youtube {
    color: white;
  }

.nav__links{
    list-style: none;
}
.nav__links .link{
    display: inline-block;
}
.link{
    margin: auto 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.call-btn{
    width: 100px;
    height: 35px;
    margin: auto 5px;
    outline-style: none;
    background-color: rgb(171, 243, 26);
    border: 1px solid  rgb(70, 70, 70);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.3s ease-in-out;
}
.call-btn:focus{
    outline-style: none;
}
.call-btn:hover{
    background-color:  rgb(123, 175, 19);
}
.panacloud{
    width: 120px;
    height: auto;
    margin-right: auto;
}
.mainnav__links{
    list-style: none;
}
.mainnav__links .main-nav-link{
    display: inline-block;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
} 
.link-element{
    text-decoration: none;
    color: black;
    margin: auto 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-nav-link:hover{
    border-bottom: 5px solid rgb(123, 175, 19) ;
}

.second-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.slideshow-container {
    max-width: auto;
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  .mySlides img{
      height: 650px;
      object-fit: cover;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }


  
  .text {
    color: #ffffff;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    top: 35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-align: center;
  }

  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .advantages{
      text-align: center;
  }
  .advantage-heading{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(149, 231, 66);
      margin: 50px auto;
  }
  .our{
      color: rgb(77, 77, 77);
  }
  .advantage-para{
      width: 75%;
      margin: 15px auto;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(168, 168, 168);
  }
  .adv-card-deck{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .adv-card{
    width: 15%;
    margin: 15px;
  }
  .adv-icon{
    background-color: rgb(196, 196, 196);
    width: 50%;
    padding: 10% 5px;
    margin: 50px;
    margin-bottom: 25px;
    border-radius: 50%;
  }
  .adv-card-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
  }
  .adv-card-para{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    color: rgb(160, 160, 160);
  }
  .adv-card-img{
    width: 50px;
    height: auto;
  }
  .about-us{
    text-align: center;
    background-color: rgb(250, 250, 250);
    overflow: hidden;
  }
  .para-area{
    text-align: left;
    margin: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .images-area{
    margin: 25px;
  }
  .about-us table{
    table-layout: fixed ;
    width: 100% ;
  }
  .about-us td{
    width: 25% ;
  }
  .about-us-image{
    width: auto;
    height: 400px;
  }
  .rm-btn{
    width: 150px;
    height: 35px;
    margin: 15px;
    background-color: rgb(233, 177, 25);
    border: 3px solid rgb(248, 152, 7);
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
  .rm-btn:focus{
    outline-style: none;
  }
  .rm-btn:hover{
    background-color: rgb(207, 159, 24);
  }
  .services{
    text-align: center;
  }
  .service-para{
    width: 75%;
    margin: auto;
    color: rgb(160, 160, 160);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .services-card-deck{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .service-card{
    width: 20%;
    background-color:  #ececec;
    margin: 25px;
    margin-top: 50px;
    height: 250px;
    border-radius: 5px;
    margin-top: 75px;
  }
  .badge-img{
    width: 35%;
    background-color: rgb(255, 197, 38);
    padding: 15px;
    border-radius: 50%;
    position: relative;
    top: -50px;
  }
  .sc-heading, .sc-para{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
  }
  .sc-para{
    color:  rgb(160, 160, 160);
  }
.portfolio{
  text-align: center;
  background-color: rgb(27, 27, 27);
  padding: 15px;
}
.portfolio-para{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px;
  width: 75%;
  margin: auto;
  color: white;
}
.pf-cat{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.pf-cat p{
  margin: 25px;
}
.portfolio-img{
  width: 230px;
  height: 230px;
  object-fit: cover;
}
.packages-card-deck{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 25px;
}
.packages{
  text-align: center;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  overflow: hidden;
}
.package-card{
  width: 25%;
  border: 1px solid rgb(34, 34, 34);
  background-color: white;
 
}
.package-card-center{
  position: relative;
  top: -50px;
  border: 3px solid rgb(133, 218, 6) !important;
}
.packages p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(160, 160, 160);
}
.packages .advantage-heading{
  margin: 25px !important;
}
.package-card{
  width: 25%;
  border: 1px solid rgb(34, 34, 34);
}
.package-heading{
  margin: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.discount-price{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 color: rgb(133, 218, 6);
}
.package-card p{
  margin: 10px;
}
.package-card hr{
  width: 80%;
  margin: auto;
}
.order-btn{
  background-color: rgb(133, 218, 6);
  color: white;
  border: 1px solid  rgb(106, 173, 5);
  height: 30px;
  width: 100px;
  border-radius: 5px;
  position: relative;
  bottom: -15px;
  cursor: pointer;
}
.order-btn:focus{
  outline-style: none;
}
.our-process{
  text-align: center;
}
.our-process .advantage-heading{
  margin-bottom: 10px;
}
.our-process-para{
  width: 70%;
  margin: 0 auto !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(160, 160, 160);
}
.process-img{
  margin: 15px;
  border: 3px solid  rgb(106, 173, 5);
  border-radius: 50%;
  padding: 5px;
  background-color: white;
}
.bts-line{
  border: 2px solid  rgb(106, 173, 5);
  width: 65%;
  margin: auto;
  z-index: -1;
  position: relative;
  top: -75px;
}
.process-heading{
  margin: 29px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.package-paras{
  display: flex;
  text-align: center;
  justify-content: center;
}
.process-para{
  width: 10%;
  margin: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(160, 160, 160);
}
.reccomendation{
  background-color: rgb(250, 250, 250);
  text-align: center;
  overflow: hidden;
}
.reccomendation p{
  margin-top: 25px;
}
.persons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.person{
  width: 40%;
  margin: 15px;
}
.person-img{
  float: left;
  background-color: rgb(214, 214, 214);
  border-radius: 50%;
}
.person-name{
  text-align: left;
}